<!DOiCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<link href="fairy.css" rel="stylesheet">
<title>Fairy Dashboard</title>
</head>

<body>
<!--Grid start-->
<div class="container">
<h1><span>Fairy Statistics</span></h1>

<div class="table_title">Overview

  <div class="control-group"> 
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-refresh"></i> Refresh</span>
        <select class="span1">
        <option>10 s</option>
        <option>20 s</option>
        <option>30 s</option>
        <option>40 s</option>
        <option>50 s</option>
      </select>
      </div>
    </div>
  </div>


</div>
<div id="m_statistics"></div>
<div id="queque_detail">

  <div class="table_title">Glance<i class="icon-th"></i><i class="icon-th-large active"></i></div>
  <div id="s_statistics"></div>
  
  <div class="table_title">Workers</div>
  <div id="s_workers"></div>
  
  <!--最近处理任务---失败任务汇总---周期最长-->
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">最近处理任务</a></li>
      <li><a href="#tab2" data-toggle="tab">失败任务汇总</a></li>
      <li><a href="#tab3" data-toggle="tab">当前处理任务</a></li>
      <li><a href="#tab4" data-toggle="tab">周期最长</a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane-title">最近处理任务</div>
      <div class="tab-pane active" id="tab1">
        <div id="s_recently_finished_tasks"></div>
      </div>
    
      <div class="tab-pane-title">失败任务汇总</div>
      <div class="tab-pane" id="tab2">
        <div id="s_failed_tasks"></div>
      </div>
     
      <div class="tab-pane-title">当前处理任务</div>
      <div class="tab-pane" id="tab3">
        <div id="s_processing_tasks"></div>
      </div>

      <div class="tab-pane-title">周期最长</div>
      <div class="tab-pane" id="tab4">
        <div id="s_slowest_tasks"></div>
      </div>
    
    </div>
  </div>
</div>

<!--template-->
<script id="tb_statistics_template" type = "template/underscore" >
  <table class="table table-bordered glance">
    <tr><th>Total</td><th><%= statistics.finished_tasks %></td></tr>
    <tr><th>Avg. Waiting In</th><td><%= statistics.average_pending_time %></td></tr>
    <tr><th>Avg. Processing In</th><td><%= statistics.average_process_time %></td></tr>
    <tr><th>Avg. Finished In</th><td><%= Number(statistics.average_pending_time) + Number(statistics.average_process_time) %></td></tr>
  </table>
</script>


<script id="tb_recently_finished_tasks_template" type = "template/underscore" >
  <table class="table table-bordered">
   <thead>
     <tr>
      <th>编号</th>
      <th colspan = <%= recently_finished_tasks.length?recently_finished_tasks[0].params.length:0 %>>参数</th>
      <th>进入堆栈时间</th>
      <th>完成时间</th>
     </tr>
   </thead>
   <tbody>
     <% _.each(recently_finished_tasks, function(item) { %>
     <tr>
      <td><%= item.id.substring(0,8) %></td>
      <%_.each(item.params, function(value){ %>
      <td> <%= value %> </td>     
      <% })%>
      <td> <%= moment.duration((new Date).valueOf()-(new Date(item.queued)).valueOf()).humanize()%></td>
      <td> <%= moment.duration((new Date).valueOf()-(new Date(item.finished)).valueOf()).humanize()%></td>
     </tr>
     <% }) %>
   </tbody>
  </table>
</script>


<script id="tb_failed_tasks_template" type = "template/underscore" >
  <table class="table table-bordered">
   <thead>
     <tr>
      <th>编号</th>
      <th colspan = <%= failed_tasks.length?failed_tasks[0].params.length:0 %>>参数</th>
      <th>进入堆栈时间</th>
      <th>完成时间</th>
      <th colspan = <%= failed_tasks.length?failed_tasks[0].reason.length:0%>>失败原因</th>
     </tr>
   </thead>
   <tbody>
   <% _.each(failed_tasks, function(item) { %>
   <tr>
    <td><%= item.id.substring(0,8) %></td>
    <%_.each(item.params, function(value){ %>
    <td> <%= value %> </td>     
    <% })%>
    <td> <%= moment.duration((new Date).valueOf()-(new Date(item.queued)).valueOf()).humanize()%></td>
    <td> <%= moment.duration((new Date).valueOf()-(new Date(item.failed)).valueOf()).humanize()%></td>
    <td>
      <div class="failed_popover_position">more ...<div class="failed_popover"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"> 
       <div class='tabbable'>
        <ul class='nav nav-tabs'>
         <%_.each(item.reason, function(value, i){ %>
           <% item.reason["id"+i] = id.new() %>
           <li class=''><a href='#click<%= item.reason["id"+i] %>' data-toggle='tab'><%= ++i %></a></li>
        <% })%>
        </ul>
			  <div class='tab-content'>
				  <%_.each(item.reason, function(value, i){ %>
				    <div class='tab-pane' id='click<%= item.reason["id"+i]%>'>
				    <%= value %>
				    </div>
          <% })%>
        </div>
      </div>		
     </div></div></div></div>
    </td>
   </tr>
  <% }) %>
  </tbody>
  </table>
</script>

<script id="tb_slowest_tasks_template" type = "template/underscore" >
  <table class="table table-bordered">
   <thead>
     <tr>
      <th>编号</th>
      <th colspan = <%= slowest_tasks.length?slowest_tasks[0].params.length:0 %>>参数</th>
      <th>进入堆栈时间</th>
      <th>开始时间</th>
      <th>完成时间</th>
     </tr>
   </thead>
   <% _.each(slowest_tasks, function(item) { %>
   <tbody>
     <tr>
      <td><%= item.id.substring(0,8) %></td>
      <%_.each( item.params, function(value){ %>
      <td> <%= value %> </td>     
      <% })%>
      <td> <%= moment.duration((new Date).valueOf()-(new Date(item.queued)).valueOf()).humanize()%></td>
      <td> <%= moment.duration((new Date).valueOf()-(new Date(item.started)).valueOf()).humanize()%></td>
      <td> <%= parse_milliseconds(item.time) %></td>
     </tr>
     <% }) %>
   </tbody>
  </table>
</script>

<script id="tb_processing_tasks_template" type = "template/underscore" >
  <table class="table table-bordered">
   <thead>
     <tr>
      <th>编号</th>
      <th colspan = <%= processing_tasks.length?processing_tasks[0].params.length:0 %>>参数</th>
      <th>进入堆栈时间</th>
      <th>开始时间</th>
     </tr>
   </thead>
   <% _.each(processing_tasks, function(item) { %>
   <tbody>
     <tr>
      <td><%= item.id.substring(0,8) %></td>
      <%_.each( item.params, function(value){ %>
      <td> <%= value %> </td>     
      <% })%>
      <td> <%= moment.duration((new Date).valueOf()-(new Date(item.queued)).valueOf()).humanize()%></td>
      <td> <%= moment.duration((new Date).valueOf()-(new Date(item.started)).valueOf()).humanize()%></td>
     </tr>
     <% }) %>
   </tbody>
  </table>
</script>

<script id="tb_workers_template" type = "template/underscore" >
  <table class="table table-bordered workers">
   <thead>
   <tr>
    <th>Host Name</th>
    <th>IP</th>
    <th>Process ID</th>
    <th>start</th
   </tr>
   </thead>
   <tbody>
     <% _.each(workers, function(item) { %>
     <tr>
      <td><%= item.host %></td>
      <td><%= item.ip %></td>
      <td><%= item.pid %></td>
      <td><%= moment.duration((new Date).valueOf()-(new Date(item.since)).valueOf()).humanize()%></td>
     </tr>
     <% }) %>
   </tbody>
  </table>
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js" type="text/javascript"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js" type="text/javascript"></script>
<script src="https://raw.github.com/timrwood/moment/1.6.2/moment.js" type="text/javascript"></script>
<script src="fairy.js" type="text/javascript"></script>
<script type="text/javascript">window.id = new id_factory()</script>
<script src="fairy_active.js" type="text/javascript"></script>
</body>
</html>
