[submodule "node_modules/connect"]
	path = node_modules/connect
	url = https://github.com/senchalabs/connect.git
[submodule "node_modules/node-uuid"]
	path = node_modules/node-uuid
	url = https://github.com/broofa/node-uuid.git
[submodule "node_modules/redis"]
	path = node_modules/redis
	url = https://github.com/mranney/node_redis.git
