!!!5
html(lang='en')
  head
    link(href='/css/bootstrap.css')(rel='stylesheet')
    link(href='/css/queue.css')(rel='stylesheet')
    title Fairy Statistics
  body
    //Grid start
    div.container
    h1
      span Fairy Statistics
    div.table_title Overview
    div#statistics
    div#queque_detail
      div.table_title Glance
        i.icon-th
        i.icon-th-large active
      div#statistic
      div.table_title Workers
      div#workers
      
      div.tabbable
        ul.nav.nav-tabs
          li.active
            a(href="#tab1")(data-toggle="tab") 最近处理任务
          li
            a(href="#tab2")(data-toggle="tab") 失败任务汇总
          li
            a(href="#tab3")(data-toggle="tab") 周期最长
        div.tab-content
          div.tan-pane-title 最近处理任务
          div.tab-pane active#tab1
            div#recently_finished_tasks
          div.tan-pane-title 失败任务汇总
          div.tab-pane active#tab2
            div#recently_finished_tasks
          div.tan-pane-title 周期最长
          div.tab-pane active#tab3
            div#recently_finished_tasks      

    script#tb_statistic_template(type = 'template/underscore')
      |<table class="table table-bordered glance">
      | <tr>
      |  <td>Toalt</td>
      |  <td>Avg. Waiting In</td>
      |  <td>Avg. Processing In</td>
      |  <td>Avg. Finished In</td>
      | </tr>
      | <tr>
      |  <td><%= statistic.finished_tasks %></td>
      |  <td><%= statistic.average_pending_time %></td>
      |  <td><%= statistic.average_processing_time %></td>
      |  <td>---</td>
      | </tr>
      |</table>

    script#tb_recently_finished_tasks_template(type = 'template/underscore')
      |<table class="table table-bordered glance">
      | <tr>
      |  <td> 编号</td>
      |  <td colspan = <%= finished_tasks.length?(finished_tasks[0].length -3):0 %>> 参数</td>
      |  <td> 进入堆栈时间</td>
      |  <td> 完成时间</td>
      | </tr>
      | <% _.each(finished_tasks, function(item) { %>
      | <tr>
      |  <td><%= _.first(item).substring(0,8) %></td>
      |  <%_.each(_.first(_.rest(item,1),item.length-3), function(value){ %>
      |  <td> <%= value %> </td>     
      |  <% })%>
      |  <td> <%= moment.duration((new Date).valueOf()-_.last(item,2)[0]).humanize()%></td>
      |  <td> <%= moment.duration((new Date).valueOf()-_.last(item,2)[1]).humanize()%></td>
      | </tr>
      | <% }) %>
      |</table>

    script#tb_failed_template(type = 'template/underscore')
      |<table class="table table-bordered glance">
      | <tr>
      |  <td> 编号</td>
      |  <td colspan = <%= failed_tasks.length?(failed_tasks[0].length -4):0 %>> 参数</td>
      |  <td> 进入堆栈时间</td>
      |  <td> 完成时间</td>
      |  <td> 失败原因</td>
      | </tr>
      | <% _.each(failed_tasks, function(item) { %>
      | <tr>
      |  <td><%= _.first(item).substring(0,8) %></td>
      |  <%_.each(_.first(_.rest(item,1),item.length-4), function(value){ %>
      |  <td> <%= value %> </td>     
      |  <% })%>
      |  <td> <%= moment.duration((new Date).valueOf()-_.last(item,3)[0]).humanize()%></td>
      |  <td> <%= moment.duration((new Date).valueOf()-_.last(item,3)[1]).humanize()%></td>
      |  <td> <%= _.last(item,3)[2] %></td>
      | </tr>
      | <% }) %>
      |</table>

    script#tb_slowest_template(type = 'template/underscore')
      |<table class="table table-bordered glance">
      | <tr>
      |  <td> 编号</td>
      |  <td colspan = <%= slowest_tasks.length?(slowest_tasks[0].length -3):0 %>> 参数</td>
      |  <td> 进入堆栈时间</td>
      |  <td> 完成时间</td>
      | </tr>
      | <% _.each(slowest_tasks, function(item) { %>
      | <tr>
      |  <td><%= _.first(item).substring(0,8) %></td>
      |  <%_.each(_.first(_.rest(item,1),item.length-3), function(value){ %>
      |  <td> <%= value %> </td>     
      |  <% })%>
      |  <td> <%= moment.duration((new Date).valueOf()-_.last(item,2)[0]).humanize()%></td>
      |  <td> <%= parse_milliseconds(_.last(item))%></td>
      | </tr>
      | <% }) %>
      |</table>

    script#tb_workers_template(type = 'template/underscore')
      |<table class="table table-bordered glance">
      | <tr>
      |  <td>Host Name</td>
      |  <td>IP</td>
      |  <td>Process ID</td>
      | </tr>
      | <% _.each(workers, function(item) { %>
      | <tr>
      |  <%_.each(item, function(value){ %>
      |  <td> <%= value %> </td>     
      |  <% })%>
      | </tr>
      | <% }) %>
      |</table>


    script(src='/js/underscore.js')
    script(src='/js/jquery.js')
    script(src='/js/moment.js')
    script(src='/script/queue.js')
    script(src='/js/bootstrap.js')
    script(src='/js/liuzhengming.js')
