body{/*width:1024px;*/ margin:auto auto; overflow-y:scroll; font-family:Palatino, "Palatino Linotype", Georgia, serif;}
.container{ width:1140px;}
/*h1*/
h1{
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:80px;
  background:#F0F0F0;
  border-bottom:1px solid #E0E0E0;
  z-index:100;
  opacity:0.9;
  filter: Alpha(opacity=90);
}
h1 span{
  display:block;
  width:1140px;
  height:100%;
  background:#F0F0F0;
  color:#444;
  font-size:25px;
  line-height:80px;
  margin: auto auto;
  font-family:Palatino, "Palatino Linotype", Georgia, serif;
}
.h1_shadow{
  box-shadow:2px 2px 2px #eee;
  -moz-box-shadow:2px 2px 4px #eee;
  -webkit-box-shadow:2px 2px 4px #eee;
}

/*table style*/
table{ font-family:Helvetica, Arial,  sans-serif;}
table tr td,table tr th{ text-align:right !important;}
/*Table Crosshair*/
/*.hoverRow {
  background-color: #F5F5F5;
}*/
.hoverColumn {
  background-color: #F5F5F5 !important;
}
/*.hoverCell {
  background-color: #FFFF00;
}*/
.overview tr td:nth-child(7)[class="hoverColumn"]{ background:#fed5d5 !important;}
.overview tr td:nth-child(8)[class="hoverColumn"]{ background:#fed5d5 !important;}


/*Overview*/
.table_title{
  position:relative;
  margin:20px auto 20px auto;
  border-bottom:1px solid #444;
  font-size:16px;
  font-weight:400;
  line-height:30px;
  font-size:20px;
  font-family:Palatino, "Palatino Linotype", Georgia, serif;
}
h1+.table_title{ margin-top:120px;}

/*颜色动画渐变*/
.overview tr td{
  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
.overview td,.overview th{ white-space:nowrap;}
.overview tr td:hover{ cursor:default;}
.overview tr th{ min-width:50px;}
.overview tr th:nth-child(1){ min-width:85px;}
.overview tr th:nth-child(10){ width:40px;}
.overview tr th:nth-child(11){ width:40px;}
.overview tr th:nth-child(7){ background:#ffeded; color:red;}
.overview tr th:nth-child(8){ background:#ffeded; color:red;}
.overview tfoot tr td{ 
  border-top:3px solid #999; 
  background:#F5F5F5; 
  color:#333;
  font-weight:bold !important;
}

.overview tr td span:nth-child(2){ padding:0px 4px; color:#999;}
.overview tr td span:nth-child(3){ color:#999;}
.overview .btn{ padding:2px 8px;}
.overview tr td{ vertical-align:middle !important;}
.overview tbody tr td:nth-child(7){ color:red; font-weight:400; background:#ffeded;}
.overview tbody tr td:nth-child(8){ color:red; font-weight:400; background:#ffeded;}
.overview tfoot tr td:nth-child(7),.overview tfoot tr td:nth-child(8){ border-top:3px solid #ce1212; color:red;}
thead tr{ background:#F5F5F5; color:#666}
.overview tr:hover td{ background:#F5F5F5 !important; color:#000;}
.overview tr td:hover{ background:#E4E4E4 !important;}
.overview tr td:nth-child(7):hover{ background:#fdc1c1 !important;}
.overview tr td:nth-child(8):hover{ background:#fdc1c1 !important;}
.overview tr td:nth-child(10),.overview tr td:nth-child(11){ text-align:center !important;}

.overview .active{ background:#F5F5F5;}
.overview .active td:nth-child(1){ background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAASSURBVBhXYwg7/PY/NsyASwIAfV0kPQJmW2IAAAAASUVORK5CYII=") !important; background-repeat:repeat-y !important;}
.overview .active td:nth-child(7){ background:#fdc1c1 !important;}
.overview .active td:nth-child(8){ background:#fdc1c1 !important;}



/*Glance and Worders*/
#queque_detail{ display:none;}

table[class*="glance"]{
  width:300px;
}
table tr td:nth-child(1){
  width:200px;
}
table tr td:nth-child(2){
  width:100px;
}
table[class*="workers"]{
  width:600px;
}
table[class*="glance"] tr th:nth-child(1){ 
  background:#F5F5F5;
}
.table_title>i{
  position:absolute;
  top:50%;
  margin-top:-8px;
  filter: Alpha(opacity=40);
  opacity: 0.4;
  cursor:pointer;
}
.table_title .control-group{
  position:absolute;
  right:0px;
  top:-3px;
  font-size:14px;
}
.table_title .control-group select{
  margin-left:-5px;
}
.table_title .control-group i{
  margin-top:2px;
}
.table_title i:hover{
  filter: Alpha(opacity=100);
  opacity: 1;
}
.table_title .icon-th{
  right:16px;
}
.table_title .icon-th-large{
  right:0px;
}

/*表格全部显示出来的情况--切换*/
.tab-pane-title{ display:none;}
.xz>ul{ display:none;}
.xz .tab-pane{ display:block;}
.xz .tab-pane-title{ 
  display:block; 
  position:relative;
  margin:20px auto 20px auto;
  border-bottom:1px solid #444;
  font-size:16px;
  font-weight:400;
  line-height:30px;
  font-size:20px;
  font-family:Palatino, "Palatino Linotype", Georgia, serif;
}
.table_title i[class*="active"]{
  filter: Alpha(opacity=100);
  opacity: 1;
}
/*失败原因*/
.failed_popover_position{
  position:relative;
  width:100%;
  height:100%;
}
.failed_popover{
  display:none;
  position:absolute;
  left : -400px;
  top:-20px;
  text-align:left !important;
  z-index:1000;
}
.failed_popover .tab-content{
  overflow:visible !important;
  padding:5px;
  font-size:13px;
}
.tab-content{
  overflow:visible !important;
}
td:hover .failed_popover{
  display:block;
}
.failed_popover .popover-inner{
  width:400px !important;
  overflow:visible;
}
.failed_popover:after{
  position:absolute;
  right:-10px;
  top:20px;
  content:"▶";
  font-size:14px;
  color:#333;
}
.failed_popover .nav-tabs > li{
  width:50px !important;
  height:36px !important;
  overflow:none !important;
}
.failed_popover .nav-tabs > li a{
  overflow:hidden important;
  /*font-size:0px;*/
}
a:link,a:hover,a:focus,a:active,a:visited{ outline : none !important;}
*:link,*:hover,*:focus,*:active,*:visited{ outline : none !important;}
